<div class="container">
    <div *ngFor="let noticia of noticias; let indice=index" class="card">
        <img src="{{noticia.urlToImage}}" alt="{{noticia.title}}">
        <div>
            <h2>{{noticia.title}}</h2>
            <p>{{noticia.content}}</p>
            <button (click)="noticiac(indice)">Ver más</button>
        </div>
    </div>
</div>

<div class="noticia">
    <img alt="">
</div>