* {
    background-color: linear-gradient(red, green);
}

.container {
    padding: 10px;
}

.card {
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card>div {
    width: 40%;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 40%;
    border-radius: 30px;
    border: 1px solid white;
}

.card>img {
    margin-left: auto;
    margin-right: auto;
}

button {
    text-align: center;
}